<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.michaelvescovo.android.itemreaper">

    <application
        android:name=".ItemReaperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".auth.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".items.ItemsActivity"
            android:label="@string/title_activity_items">
        </activity>
        <activity
            android:name=".add_item.AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:parentActivityName=".items.ItemsActivity">
        </activity>
        <activity
            android:name=".about.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".items.ItemsActivity">
        </activity>
    </application>

</manifest>